body {
    margin: 0;
    height: 1500px;
}

.container {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.hr-button {
    font-size: 0.923em;
    min-height: 2.5em;
    padding: 0 1.667em;
}