.join-content {
    min-height: 366px;
    text-align: center;
}

.join-content-wrap {
    margin-top: 5%;
}

.join-content span, strong {
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;
    font-weight: 200;
    color: #576871;
}

.join-text {
    line-height: 29px;
}

.button-sign-code {
    margin-top: 4%;
}

.a-code-button {
    background-color: #1ba94c;
    padding: 1.2em 2em;
    font-family: 'Source Code Pro', sans-serif;
    text-decoration: none;
    box-shadow: 0 4px 12px rgba(27, 169, 76, 0.5);
    display: inline-block;
}

.a-code-button:hover {
    box-shadow: 0 2px 6px rgba(27, 169, 76, 0.5);
}

.code-button {
    font-size: 15px !important;
    color: #fff !important;
    font-weight: 600 !important;
    letter-spacing: 0.12em;
}

strong {
    color: #39424e;
    font-weight: bold;
}

.hiring-talent {
    margin-top: 5%;
}

.hiring-talent > p {
    color: #576871;
    font-weight: 400;
    font-size: 14px;
}

.hiring-talent > p > a {
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
    color: #39424e;
}

.hiring-talent > p > a:hover {
    text-decoration: none;
}

.sponsors {
    width: 100%;
    text-align: center;
    margin-top: 7%;
    bottom: 20px;
}

.sponsors img {
    display: inline-block;
    max-width: 20%;
    height: 56px;
    margin: 1%;
}